<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Home</title>
        <link rel="stylesheet" href="style-page.css" />
    </head>
    <body>
        <div class="container">
            <nav class="menu-bar">
                <div class="logo">
                    <p>Logo</p>
                </div>
                <div class="menu-options">
                    <li class="menu-sub">
                        <a href="#" role="button">OS Liquidadas</a>
                        <ul class="menu-list">
                            <li><a href="">Registrar</a></li>
                            <li><a href="">Consultar</a></li>
                            <li><a href="">Quejas</a></li>
                        </ul>
                    </li>

                    <li class="menu-sub-two">
                        <a href="#" role="button">Obras</a>
                        <ul class="menu-list">
                            <li><a href="">Registrar</a></li>
                            <li><a href="">Consultar</a></li>
                        </ul>
                    </li>
                    <!-- <a href="#">OS Liquidadas</a> -->
                    <a href="#">Tecnicos</a>
                    <a href="#">Administradores</a>
                    <a href="#">Alfredo</a>
                    <!--<a href="#">Cerrar sesion</a> -->
                </div>
            </nav>
            <div class="content-body">
                <table class="table">
                    <thead class="table-head">
                        <th>Nombre de la obra</th>
                        <th>Tipo de Obra</th>
                        <th>Estatus de la obra</th>
                        <th>Supervisor</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Terminacion</th>
                        <th>Operacion</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody class="table-body">
                        <tr>
                            <td>RDA Medical Baumachine</td>
                            <td>DTTO Saturado Principal</td>
                            <td style="background-color: #c62828">
                                En proceso
                            </td>
                            <td>Epifanio</td>
                            <td>12/01/2022</td>
                            <td>18/01/2022</td>
                            <td>8272929H</td>
                            <td class="actions">
                                <a href="#" class="edit">Editar</a>
                                <a href="#" class="delete">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>RDA Medical Baumachine</td>
                            <td>DTTO BB Principal</td>
                            <td style="background-color: #13fb48">
                                Proceso de pago
                            </td>
                            <td>Epifanio</td>
                            <td>12/01/2022</td>
                            <td>18/01/2022</td>
                            <td>8272929H</td>
                            <td class="actions">
                                <a href="#" class="edit">Editar</a>
                                <a href="#" class="delete">Eliminar</a>
                            </td>
                        </tr>

                        <tr>
                            <td>RDA Medical Baumachine</td>
                            <td>Siniestro</td>
                            <td style="background-color: #fcf61b">
                                Lum Firmada para pedir 90%
                            </td>
                            <td>FREDI</td>
                            <td>12/01/2022</td>
                            <td>18/01/2022</td>
                            <td>8272929H</td>
                            <td actions="actions">
                                <a href="#" class="edit">Editar</a>
                                <a href="#" class="delete">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
