* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.menu-bar {
    background-color: #465599;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid black;*/
    padding: 2px;
    color: #fff;
}

.menu-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.menu-bar div {
    color: #fff;
    text-decoration: none;
}
.ul-list {
    margin-right: 30px;
}
.ul-list li {
    display: inline-block;
    margin: 0 15px;
}

.ul-list a {
    text-decoration: none;
}

.menu-sub-two {
    width: 2px;
    padding: 1px;
}

.content-body {
    margin-top: 20px;
    grid-column: 1/-1;
    /*border: 1px solid black; */
}

/*Estilo de los nabs*/

.dropbtn {
    /*background-color: #3498DB;*/
    color: white;
    /*padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;*/
}

/*.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /*border: 1px solid #96a1a1;*/
    border-radius: 2px;
}

.dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
}

.dropbtn2 {
    /*background-color: #3498DB;*/
    color: white;
    /*padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;*/
}

/*.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}*/

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 85px;
    overflow: auto;
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 2px;
}

.dropdown-content2 a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

/*.menu-options a:hover {
    color: #dbcfc0;
}*/
/*.ul-list a {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
/*li:hover {
    background-color: #67898f;
    color: black;
}*/
/*li > ul {
    display: none;
}*/
/*li:hover > ul {
    display: block;
    position: absolute;

}*/
